.root {
    --font-sans-serif: Poppins, sans-serif;
    --orange-light: #fdb273;
    --gray: #56617a;
    --blue-dark: #133a69;
}

body {
    font-family: Poppins;

}


html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-introh1 {
    color: #133a69;
    font-size: 1.7rem;
    text-align: center;
    margin: 2rem;
}

.site-introh3 {
    font-size: 1rem;
    color: var(--gray);
    font-weight: lighter;
    text-align: center;
    line-height: 1.4rem;
    margin: 2rem;

}

.sidebar__nav-links-container {
    color: #133a69;
    background-color: aliceblue;
    padding: 1rem;
    max-width: 250px;
}

.sidebar__nav-links {
    text-decoration: none;
    list-style: none;
}

/* VIDEO BACKGROUND */
#snowboarder {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%
}

/* test text over VIDEO BACKGROUND */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
}

.button-img {
    width: 800px;
    display: block;
    border: 1px solid black;
}

.button-blue-img {
    width: 250px;
    display: inline-block;
    border: 1px solid black;

}

.h1 {
    text-transform: uppercase;
    color: gray;
}

.subtitle {
    color: gray
}

/* ORANGE BUTTONS */

.orange-do {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 35px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-ski {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 85px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-snow {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 65px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange a {
    color: white;
}

/* OUTLINED BUTTONS */

.outline-brochures {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-partners {
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-faq {
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 130px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/* BLUE BUTTONS */

.blue-chalet {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.blue-discover {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/* ICONS */


.btn {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a:link {
    color: rgb(45, 93, 112);
    text-decoration: none;
}

a:visited {
    color: rgb(45, 93, 112);
    border-color: rgb(45, 93, 112);
    text-decoration: none;
}

a:hover {
    color: #fdb273;
    border-color: #fdb273;
    font-weight: bolder;
}

a:active {
    color: #fdb273;
    font-weight: bolder;
}

.btn_close {
    background-color: #fdb273;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_bright {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_gondola {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}


.btn_cam {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_location {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ski-lift {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_skiing {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_thumb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_flag {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_arrow {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_fb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ig {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_twit {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_youtube {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_p {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_tik {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_plus {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_x {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_elk {
    width: 100px;
    display: inline-block;
}

/* HEADER A */

.header-imgs {
    border: 1px solid black;
    width: 800px;
}

.header-white {
    width: 800px;
}

.header-photo {
    width: 800px;
}

.logo-lockup {
    width: 120px;
    margin: 0;
}

.header_container {
    display: flex;
    width: 100%;
    padding: 1rem;
    max-width: 80rem;
    margin: auto;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
}

.navbar-list-a {
    font-family: var(--font-sans-serif);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

.nav-extra {
    font-size: 10px;
}

/* HEADER B */

.header-b__container {
    position: relative;
}

.header_hero-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header_img {
    width: 100%;
}

.logo-lockup {
    margin: .5rem;
}

.navbar_hero-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar_hero-list-b {
    font-family: var(--font-sans-serif);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

/*Hero Nav Links*/

a.nav-links:link {
    color: white;
    text-decoration: none;
}

a.nav-links:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.nav-links:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.nav-links:active {
    color: #fdb273;
    font-weight: bolder;
}

/*Hero Extras Nav Links*/

a.navhero-extra:link {
    color: white;
    text-decoration: none;
}

a.navhero-extra:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.navhero-extra:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.navhero-extras:active {
    color: #fdb273;
    font-weight: bolder;
}


/* FEATURE TEXTS */

.headline__feature-img {
    border: 1px solid black;
    width: 900px;
}

.opening-orange {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: #fdb273;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}

.date-black {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin: 0;
}

/*FEATURE 2*/

.headline__feature-img1 {
    width: 270px;
    height: 450px;
    position: relative;
    left: 0;
    top: 4rem;
}

.headline__feature-img2 {
    width: 200px;
    height: 450px;
    position: absolute;
    left: 51rem;
    top: 51rem;
}

.headline__feature-text-orange {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 5rem;
    margin: 3rem 0 0 5rem;
    position: absolute;
    top: 53rem;
    left: 9rem;
}

.headline__feature-text-black {
    font-family: var(--font-sans-serif);
    color: black;
    font-size: 5rem;
    position: absolute;
    top: 57rem;
    left: 18rem;
}

.headline__feature-text {
    font-family: "Poppins";
    font-style: italic;
    font-size: .7rem;
    line-height: 1rem;
    color: #56617a;
    position: absolute;
    top: 67rem;
    left: 20rem;
}

.headline__feature-button-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 75rem;
    left: 20rem;
}

.headline__feature-img3 {
    border: 1px solid black;
    width: 800px;
    margin: 10rem 0 0 0;
}