body {
    font-family: "Helvetica Condensed Bold", sans-serif;
}

.button-img {
    width: 800px;
    display: block;
}

.button-blue-img {
    width: 250px;
    display: inline-block;
}

.h1 {
    text-transform: uppercase;
    color: gray;
}

.subtitle {
    color: gray
}

/* ORANGE BUTTONS */

.orange-do {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    background: orange;
    padding: 20px 35px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-ski {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    background: orange;
    padding: 20px 85px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-snow {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    background: orange;
    padding: 20px 65px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange a {
    color: white;
}

/* OUTLINED BUTTONS */

.outline-brochures {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-partners {
    font-family: "Helvetica condensed bold", sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-faq {
    font-family: "Helvetica condensed bold", sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 130px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/* BLUE BUTTONS */

.blue-chalet {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.blue-discover {
    font-family: "Helvetica condensed bold", sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/* ICONS */


.btn {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a:link {
    color: rgb(45, 93, 112);
    text-decoration: none;
}

a:visited {
    color: rgb(45, 93, 112);
    border-color: rgb(45, 93, 112);
    text-decoration: none;
}

a:hover {
    color: orangered;
    border-color: orangered;
    font-weight: bolder;
}

a:active {
    color: orangered;
    font-weight: bolder;
}

.btn_close {
    background-color: #fdb273;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_bright {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_gondola {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}


.btn_cam {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_location {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ski-lift {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_skiing {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_thumb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_flag {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_arrow {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_fb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ig {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_twit {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_youtube {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_p {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_tik {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_plus {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_x {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_elk {
    width: 100px;
    display: inline-block;
}