.root {
    --font-sans-serif: Poppins, sans-serif;
    --orange-light: #fdb273;
    --gray: #56617a;
    --blue-dark: #133a69;
}

body {
    font-family: Poppins;
}


html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*-----------------------HOME PAGE SECTION------------------------------------*/

.header__container {
    background-color: aliceblue;
    margin: 0;
    padding: 10px;
    border-bottom: 10px solid #fdb273;
}

.header__logo {
    max-width: 7rem;
    align-items: center;
}

.site-introh1 {
    color: #56617a;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.site-introh3 {
    font-size: 1rem;
    color: var(--gray);
    font-weight: lighter;
    text-align: center;
    line-height: 1.4rem;
}

/*logo section ON HOME PAGE */

.section__logo {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__wordmarks {
    max-width: 200px;
    margin: 1rem;
}

.section__wordmarks_elk {
    max-width: 150px;
    margin: 1rem;
}

/* colors section ON HOME PAGE  */

.section__colors {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__icons {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__colorblocks {
    display: inline-block;
}

.colorblock__orange {
    color: white;
    width: 200px;
    background-color: #fdb273;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;
}

.colorblock__gray {
    color: white;
    width: 200px;
    background-color: #56617a;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;

}

.colorblock__blue {
    color: white;
    width: 200px;
    background-color: #133a69;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;

}

/* BUTTONS SECTION ON HOME PAGE */

.section__buttons {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__buttons-containter {
    margin: 2rem;
}

/* TYPOGRAPHY SECTION ON HOME PAGE */

.section__typography {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.type-img {
    width: 250px;
    display: block;
    margin: 20px;
}

.type-stack-img {
    width: 160px;
    display: block;
    margin: 20px;

}

.type_font-weights {
    margin: 20px;
}

.type_font-header {
    color: #b6b8be;
    font-weight: 600;
    margin: 20px;
    border-bottom: 1px solid #adb1b5;
}


.thin100 {
    font-weight: 100;
}

.thin100italic {
    font-weight: 100;
    font-style: italic;
}

.extralight200 {
    font-weight: 200;
}

.extralight200italic {
    font-weight: 200;
    font-style: italic;
}

.light300 {
    font-weight: 300;
}

.light300italic {
    font-weight: 300;
    font-style: italic;
}

.medium500 {
    font-weight: 500;
}

.medium500italic {
    font-weight: 500;
    font-style: italic;
}

.semibold600 {
    font-weight: 600;
}

.semibold600italic {
    font-weight: 600;
    font-style: italic;
}

.bold700 {
    font-weight: 700;
}

.bold700italic {
    font-weight: 700;
    font-style: italic;
}

.extrabold800 {
    font-weight: 800;
}

.extrabold800italic {
    font-weight: 800;
    font-style: italic;
}

.typo__caption {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.typo__caption-semibold600_caps {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.typo__caption-regular {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.typo__caption-italic {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid black;
}

.typo__italic {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.section__main-nav {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__features {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

/* NAVIGATION */

/* FEATURES */

/*---------------------COMPONENTS--------------------------------------*/


/* VIDEO BACKGROUND */
#snowboarder {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%
}

/* test text over VIDEO BACKGROUND */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
}

.button-img {
    width: 800px;
    display: block;
    border: 1px solid black;
}

.button-blue-img {
    width: 250px;
    display: inline-block;
    border: 1px solid black;

}

.h1 {
    text-transform: uppercase;
    color: gray;
}

.subtitle {
    color: gray
}


/*-----------------------------------------------------------*/

/* COMPONENTS SECTION!!!
!!! ORANGE BUTTONS */

.orange-do {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 35px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-ski {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 85px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange-snow {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 65px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.orange a {
    color: white;
}

/* OUTLINED BUTTONS */

.outline-brochures {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-partners {
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 120px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.outline-faq {
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-weight: bold;
    border: none;
    color: darkblue;
    background: white;
    border: .5px solid darkblue;
    padding: 20px 130px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/* BLUE BUTTONS */

.blue-chalet {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

.blue-discover {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 24px 85px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}

/*---------------------------------------------------*/

/* BUTTON FEATURE LOCKUP*/

.btn__screenshot {
    border: 1px solid black;
    margin: 2rem 5rem;
    width: 250px
}

.btn__home-orange1 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #fdb273;
    padding: 9px 70px;
    font-size: 10px;
    line-height: 5px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
}

.btn__home-text {
    font-weight: 600;
    font-size: 15px;
    color: white;
    line-height: 4px;
}

#btn__hotel-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 19.3rem;
    left: 100px;
}

.btn__home-textlg {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 15px;
}

.btn__home-gray2 {
    font-family: var(--font-sans-serif);
    color: #133a69;
    background: white;
    padding: 10px 73px;
    font-size: 10px;
    line-height: 6px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
}

.btn__home-text-pass {
    font-weight: 600;
    font-size: 16px;
    color: #133a69;
    line-height: 4px;
}

#btn__card-icon {
    font-size: 1.2rem;
    color: #133a69;
    position: absolute;
    top: 24rem;
    left: 100px;
}

#btn__arrow-card-icon {
    font-size: 1.1rem;
    color: #133a69;
    position: absolute;
    top: 24rem;
    left: 281px;
}

.btn__home-blue3 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #133a69;
    padding: 10px 61px;
    font-size: 10px;
    line-height: 2px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
}

#btn__map-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 29rem;
    left: 100px;
}

#btn__arrow-map-icon {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    top: 29rem;
    left: 281px;
}


/*--------------------------------------------------------*/





/* ICONS */


.btn {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a:link {
    color: rgb(45, 93, 112);
    text-decoration: none;
}

a:visited {
    color: rgb(45, 93, 112);
    border-color: rgb(45, 93, 112);
    text-decoration: none;
}

a:hover {
    color: #fdb273;
    border-color: #fdb273;
    font-weight: bolder;
}

a:active {
    color: #fdb273;
    font-weight: bolder;
}

.btn_close {
    background-color: #fdb273;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_bright {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_gondola {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}


.btn_cam {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_location {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ski-lift {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_skiing {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_thumb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_flag {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_arrow {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_fb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ig {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_twit {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_youtube {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_p {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_tik {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_plus {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_x {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_elk {
    width: 100px;
    display: inline-block;
}

/*---------------------HEADER COMPONENTS--------------------------------------*/


/* HEADER A */

.header-imgs {
    border: 1px solid black;
    width: 800px;
}

.header-white {
    width: 800px;
}

.header-photo {
    width: 800px;
}

.logo-lockup {
    width: 120px;
    margin: 0;
}

.header_container {
    display: flex;
    width: 100%;
    padding: 1rem;
    max-width: 80rem;
    margin: auto;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
}

.navbar-list-a {
    font-family: var(--font-sans-serif);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

.nav-extra {
    font-size: 10px;
}

/* HEADER B */

.header-b__container {
    position: relative;
}

.header_hero-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header_img {
    width: 100%;
}

.logo-lockup {
    margin: .5rem;
}

.navbar_hero-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar_hero-list-b {
    font-family: var(--font-sans-serif);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

/*Hero Nav Links*/

a.nav-links:link {
    color: white;
    text-decoration: none;
}

a.nav-links:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.nav-links:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.nav-links:active {
    color: #fdb273;
    font-weight: bolder;
}

/*Hero Extras Nav Links*/

a.navhero-extra:link {
    color: white;
    text-decoration: none;
}

a.navhero-extra:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.navhero-extra:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.navhero-extras:active {
    color: #fdb273;
    font-weight: bolder;
}


/*-----------------------------------------------------------*/

/*DROPDOWN MENU EXAMPLE*/

/*container*/

.main__navbar {
    overflow: hidden;
    background-color: white;
    max-width: 130px;
    margin: 0;
}

/*links inside navbar*/
.en-dropdown-img {
    width: 100px;
}

.main__navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #56617a;
    max-width: 75px;
}

.dropdown__content {
    display: block;
}

/*dropdown container*/
.dropdown {
    float: left;
    overflow: hidden;
    background-color: white;
    height: 90px;
    display: block;
}

/*dropdown button*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #133a69;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*highlight color*/
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
}


/*dropdown content hidden by default*/
.dropdown-content {
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/*links inside the dropdown*/
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*background color to dropdown links on hover*/
.dropdown-content a:hover {
    background-color: #fdb273;
    color: #fdb273;
}

/*show the dropdown menu on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*---------------------------------------------------*/

/*POPUP WINDOW SECTION*/

.popup__agendaimg {
    width: 250px;
    border: 1px solid black;
}

.popup-window {
    width: 268px;
    position: relative;
}

#btn-pop-x {
    font-size: 14px;
    color: #fdb273;
    position: absolute;
    left: 235px;
    top: 335px;
}

.popup_h1 {
    font-weight: 700;
    font-size: 23px;
    color: #fdb273;
    position: absolute;
    left: 25px;
    top: 320px;
}

.popup_img {
    width: 225px;
    position: absolute;
    left: 22px;
    top: 370px;
}

.popup_text {
    font-weight: 400;
    font-size: 10px;
    line-height: 1rem;
    color: #56617a;
    position: absolute;
    left: 22px;
    top: 480px;
}

.popup_btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    border: none;
    color: white;
    background: #fdb273;
    padding: 14px 90px;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 550px;
}

/*---------------------------------------------------*/


/*---NAVIGATION ICONS----*/

.icon-nav-img {
    width: 100px;
    border: 1px solid black;
}

.icon-btn_home {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

.icon-btn_dot {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

/*Icon Nav active Links*/

a.icon-btn_home:link {
    color: white;
    text-decoration: none;
}

a.icon-btn_home:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.icon-btn_home:hover {
    font-size: 20px;
    color: #fdb273;
    border: 3px solid #fdb273;
    font-weight: bolder;
}

a.icon-btn_home:active {
    font-size: larger;
    color: #fdb273;
    border: 3px solid #fdb273;
    font-weight: bolder;
}

*/
/*---------------------------------------------------*/

/* FEATURE TEXTS */

.headline__feature-img {
    border: 1px solid black;
    width: 900px;
}

.opening-orange {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: #fdb273;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}

.date-black {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin: 0;
}

/*FEATURE 2*/

.headline__feature-img1 {
    width: 270px;
    height: 450px;
    position: relative;
    left: 0;
    top: 4rem;
}

.headline__feature-img2 {
    width: 200px;
    height: 450px;
    position: absolute;
    left: 51rem;
    top: 51rem;
}

.headline__feature-text-orange {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 5rem;
    margin: 3rem 0 0 5rem;
    position: absolute;
    top: 53rem;
    left: 9rem;
}

.headline__feature-text-black {
    font-family: var(--font-sans-serif);
    color: black;
    font-size: 5rem;
    position: absolute;
    top: 57rem;
    left: 18rem;
}

.headline__feature-text {
    font-family: "Poppins";
    font-style: italic;
    font-size: .7rem;
    line-height: 1rem;
    color: #56617a;
    position: absolute;
    top: 67rem;
    left: 20rem;
}

.headline__feature-button-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 75rem;
    left: 20rem;
}

.headline__feature-img3 {
    border: 1px solid black;
    width: 800px;
    margin: 10rem 0 0 0;
}

/* FEATURE 3*/

.feature3__backgroundimage {
    position: relative;
}

.feature3__headline {
    color: black;
    font-size: 3.4rem;
    font-weight: 700;
    position: absolute;
    top: 33rem;
    left: 12rem;
}

.feature3__subline {
    color: #fdb273;
    font-size: 1.2rem;
    position: absolute;
    top: 38rem;
    left: 26rem;
}

.feature3__activities {
    font-size: .5rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 40rem;
    left: 5rem;
}

.feature3__line {
    font-size: .6rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 45rem;
    left: 4.5rem;
}

.feature3__btn_arrow {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid rgb(45, 93, 112);
    border-radius: 50%;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: x-small;
    position: absolute;
    top: 52rem;
    left: 4.5rem;
}

.feature3__mountainimg {
    max-width: 450px;
    position: absolute;
    top: 42rem;
    left: 10rem;
}

.icon-container {
    position: absolute;
    top: 48rem;
    left: 36rem;
}

.icon__number {
    font-size: .7rem;
    color: #fdb273;
    display: inline-block;
    margin: 0 .3rem;
}

.icon__text {
    font-size: .7rem;
    color: #56617a;
    display: inline-block;
    margin: .3rem;
}

.feature3__orange-do {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 8px 30px;
    font-size: 7px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
}

/*FEATURE 3*/

.headline__featureimg1 {
    position: relative;
    max-width: 900px;
    margin: 0;
}

.feature4__headline {
    color: white;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 37rem;
    left: 21rem;
}

.feature4__subline {
    color: #fdb273;
    font-size: .7rem;
    position: absolute;
    top: 43rem;
    left: 26rem;
}

.feature4__orange-do {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 8px 30px;
    font-size: 7px;
    cursor: pointer;
    position: absolute;
    top: 45rem;
    left: 26rem;
}

.feature4__subimgs {
    display: inline-block;
}

.feature4__img {
    max-width: 150px;
    position: absolute;
    top: 58rem;
    left: 10rem;
}

.feature4__img2 {
    max-width: 180px;
    position: absolute;
    top: 58rem;
    left: 20rem;
    border: 5px solid #fdb273;

}

.feature4__img3 {
    max-width: 150px;
    position: absolute;
    top: 58rem;
    left: 32rem;
}

/*-------------feature 5-----------*/

/*-------------feature 6-----------*/

.event__srcimg {
    width: 900px;
}

/*-------------feature EVENTS CALENDAR7-----------*/

.event_backimg {
    width: 900px;
    position: relative;
}

.events__subhead {
    font-size: 25px;
    color: #fdb273;
    position: absolute;
    top: 545px;
    left: 360px;
}

.events__headline {
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 560px;
    left: 280px;
}

.event__lgdatel-1 {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 750px;
    left: 50px;
}

.event__lgdater {
    font-size: 36px;
    color: #fdb273;
    position: absolute;
    top: 750px;
    left: 95px;
}

.event__smdate1 {
    font-size: 14px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 805px;
    left: 95px;
}

.event__title1 {
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 780px;
    left: 140px;
}

.event__copy1 {
    font-size: 7px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 800px;
    left: 140px;
}

/*---2nd event--*/
.event__lgdatel-2 {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 750px;
    left: 320px;
}

.event__lgdater2 {
    font-size: 36px;
    color: #fdb273;
    position: absolute;
    top: 750px;
    left: 373px;
}

.event__smdate2 {
    font-size: 14px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 805px;
    left: 370px;
}

.event__title2 {
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 780px;
    left: 420px;
}

.event__copy2 {
    font-size: 7px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 800px;
    left: 420px;
}

/*---3rd event--*/
.event__lgdatel-3 {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 750px;
    left: 590px;
}

.event__lgdater3 {
    font-size: 36px;
    color: #fdb273;
    position: absolute;
    top: 750px;
    left: 634px;
}

.event__smdate3 {
    font-size: 14px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 805px;
    left: 635px;
}

.event__title3 {
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 780px;
    left: 680px;
}

.event__copy3 {
    font-size: 7px;
    color: white;
    opacity: .8;
    position: absolute;
    top: 800px;
    left: 680px;
}

.event__orangebtn {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    position: absolute;
    top: 883px;
    left: 450px;
}

/*-------------feature SOCIAL MEDIA 8-----------*/

.social__container {
    position: relative;
}

.social__h2 {
    color: #fdb273;
    font-size: 30px;
    position: absolute;
    top: 75px;
    left: 355px;
}

.social__h1 {
    color: #fdb273;
    font-size: 90px;
    position: absolute;
    top: 93px;
    left: 130px;
}

#btn_fb {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 200px;

}

#btn_ig {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 270px;
}

#btn_twit {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 340px;
}

#btn_youtube {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 410px;
}

#btn_p {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 480px;

}

#btn_tik {
    background-color: white;
    color: #fdb273;
    border: 2px solid #fcd2b0;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 550px;
}

.social__h1-bk {
    color: black;
    font-size: 90px;
    position: absolute;
    top: 300px;
    left: 380px;
}

.btn_hand {
    width: 65px;
    position: absolute;
    top: 500px;
    left: 10px;
}




/*-------------feature 9-----------*/

.view__src img {
    width: 900px;
}

.view__backimg {
    width: 900px;
    position: relative;
}

.view__h3 {
    font-size: 20px;
    color: #fdb273;
    position: absolute;
    top: 490px;
    left: 420px;
}

.view__o {
    font-size: 13px;
    color: #fdb273;
    position: absolute;
    top: 495px;
    left: 490px;
}

.view__360 {
    width: 50px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 650px;
    left: 430px;
}

/*-------------feature 10-----------*/
/*-------------feature 11-----------*/
/*-------------feature 12-----------*/
.contact__srcimg {
    width: 900px;
    margin: 2rem 0;
}

.contact__backimg {
    width: 900px;
    position: relative;
}

.contact__elk-icon {
    width: 80px;
    position: absolute;
    top: 975px;
    left: 420px;
}

.contact__title-media {
    font-size: 20px;
    color: #fdb273;
    position: absolute;
    top: 1070px;
    left: 50px;
}

.outline-contact {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 35px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1120px;
    left: 50px;
}

.outline-press-pack {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 55px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1120px;
    left: 240px;
}

.contact__title-info {
    font-size: 20px;
    color: #fdb273;
    position: absolute;
    top: 1070px;
    left: 500px;
}

.outline-brochures {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 60px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1115px;
    left: 498px;
}

.outline-faq {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 70px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1115px;
    left: 690px;
}

.outline-partners {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 65px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1160px;
    left: 498px;
}

.outline-seminars {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 25px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1165px;
    left: 695px;
}

.phone {
    font-size: 20px;
    color: #fdb273;
    position: absolute;
    top: 1190px;
    left: 50px;
}

.email {
    font-size: 17px;
    color: #133a69;
    position: absolute;
    top: 1220px;
    left: 50px;
}

.btn_contact-fb {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 50px;
}

.btn_contact-ig {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 80px;
}

.btn_contact-twit {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 110px;
}

.btn_contact-youtube {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 140px;
}

.btn_contact-p {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 170px;
}

.btn_contact-tik {
    background-color: white;
    color: #133a69;
    border: 1px solid lightgray;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1270px;
    left: 200px;
}

.contact__title-news {
    font-size: 20px;
    color: #fdb273;
    position: absolute;
    top: 1190px;
    left: 500px;
}

.outline-register {
    font-family: "poppins", sans-serif;
    font-size: x-small;
    font-weight: 600;
    color: #133a69;
    padding: 10px 68px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #133a69;
    position: absolute;
    top: 1240px;
    left: 501px;
}