<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <div>
        <h1 class="h1">Avoriaz Ski Resort Buttons</h1>
        <h2 class="subtitle">Orange Buttons</h2>
        <img class="button-img" src="../components/avoriaz_screenshots/avoriaz__buttons-orange.png"
            alt="orange buttons">
        <button class="orange-do">WHAT TO DO TODAY?</button>
        <button class="orange-ski">SKI AREA</button>
        <button class="orange-snow">SNOW REPORT</button>
    </div>

    <div>
        <h2 class="subtitle">Dark Blue Buttons</h2>
        <div>
            <img class="button-blue-img" src="../components/avoriaz_screenshots/avoriaz__chalet-button.png"
                alt="dark blue buttons">
            <img class="button-blue-img" src="../components/avoriaz_screenshots/avoriaz__discover-button.png"
                alt="dark blue buttons">
        </div>
        <button class="blue-chalet">CHALETS</button>
        <button class="blue-discover">DISCOVER</button>
    </div>

    <div>
        <h2 class="subtitle">Outlined Buttons</h2>
        <img class="button-img" src="../components/avoriaz_screenshots/avoriaz__buttons-outline-blue2.png"
            alt="outine buttons">
        <button class="outline-brochures">BROCHURES</button>
        <button class="outline-partners">PARTNERS</button>
        <button class="outline-faq">FAQ</button>
    </div>
</body>

<footer>
</footer>

</html>