<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <div>
        <img class="btn__screenshot" src="../components/avoriaz_screenshots/avoriaz__button-lockup2.jpg">

        <div>
            <button class="btn__home-orange1">
                <p>BOOK</p>
                <p class="btn__home-text">Your holidays</p>
            </button>

            <button class="btn__home-gray2">
                <p>BUY</p>
                <p class="btn__home-text-pass">Your lift pass</p>
            </button>

            <button class="btn__home-blue3">
                <p>DISCOVER</p>
                <p class="btn__home-textlg">The interactive<br>map</p>
            </button>
        </div>
        <i id="btn__hotel-icon" class="fa-regular fa-hotel"></i>
        <i id="btn__card-icon" class="fa-light fa-credit-card"></i>
        <i id="btn__map-icon" class="fa-regular fa-map-location-dot"></i>
        <i id="btn__arrow-card-icon" class="fa-regular fa-arrow-right"></i>
        <i id="btn__arrow-map-icon" class="fa-regular fa-arrow-right"></i>

    </div>

</body>
<footer>

</footer>

</html>