<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <h1>WEB DESIGN SYSTEM</h1>
    <h3>This is a collection of components based on my study of the design system of the <a
            href="https://www.avoriaz.com/en/">Avoriaz Ski Resort
            Website.</a> </h3>
    <!--LOGO-->
    <!--COLORS-->
    <!--TYPOGRAPHY-->

    <!--BUTTONS-->

    <div>
        <h1 class="h1">Avoriaz Ski Resort Buttons</h1>
        <h2 class="subtitle">Orange Buttons</h2>
        <img class="button-img" src="../components/avoriaz_screenshots/avoriaz__buttons-orange.png"
            alt="orange buttons">
        <button class="orange-do">WHAT TO DO TODAY?</button>
        <button class="orange-ski">SKI AREA</button>
        <button class="orange-snow">SNOW REPORT</button>
    </div>

    <div>
        <h2 class="subtitle">Dark Blue Buttons</h2>
        <div>
            <img class="button-blue-img" src="../components/avoriaz_screenshots/avoriaz__chalet-button.png"
                alt="dark blue buttons">
            <img class="button-blue-img" src="../components/avoriaz_screenshots/avoriaz__discover-button.png"
                alt="dark blue buttons">
        </div>
        <button class="blue-chalet">CHALETS</button>
        <button class="blue-discover">DISCOVER</button>
    </div>

    <div>
        <h2 class="subtitle">Outlined Buttons</h2>
        <img class="button-img" src="../components/avoriaz_screenshots/avoriaz__buttons-outline-blue2.png"
            alt="outine buttons">
        <button class="outline-brochures">BROCHURES</button>
        <button class="outline-partners">PARTNERS</button>
        <button class="outline-faq">FAQ</button>
    </div>

    <!--ICONS-->
    </div>
    <h1 class="h1">AVORIAZ SKI RESORT ICON BUTTONS</h1>
    <h2 class="subtitle">Icon Buttons</h2>
    <div>
        <div class="btn_elk">
            <a href="index.html"><img src="../icons/icon_elk.svg" alt="logo" </a>
        </div>

        <div class="btn_elk">
            <a href="index.html"><img src="../icons/icon_hand.svg" alt="logo" </a>
        </div>

        <button class="btn_close">
            <a href="index.html"><i class="fa-solid fa-xmark"></i></i></a>
        </button>

        <button class="btn_bright">
            <a href="index.html"><i class="fa-regular fa-brightness"></i></a>
        </button>

        <button class="btn_gondola">
            <a href="index.html"><i class="fa-regular fa-cable-car"></i>
                </i></a>
        </button>

        <button class="btn_cam">
            <a href="index.html"><i class="fa-regular fa-camera-web"></i>
                </i></a>
        </button>

        <button class="btn_location">
            <a href="index.html"><i class="fa-regular fa-location-dot"></i>
                </i></a>
        </button>

        <button class="btn_ski-lift">
            <a href="index.html"><i class="fa-regular fa-person-ski-lift"></i>
                </i></a>
        </button>

        <button class="btn_skiing">
            <a href="index.html"><i class="fa-regular fa-person-skiing"></i>
                </i></a>
        </button>

        <button class="btn">
            <a href="index.html"><i class="fa-regular fa-person-skiing-nordic"></i>
                </i></a>
        </button>

        <button class="btn_thumb">
            <a href="index.html"><i class="fa-regular fa-thumbs-up"></i>
                </i></a>
        </button>

        <button class="btn">
            <a href="index.html"><i class="fa-regular fa-mountain-sun"></i>
                </i></a>
        </button>

        <button class="btn_flag">
            <a href="index.html"><i class="fa-regular fa-flag"></i>
                </i></a>
        </button>

        <button class="btn_arrow">
            <a href="index.html"><i class="fa-solid fa-arrow-right"></i>
                </i></a>
        </button>

        <button class="btn_arrow">
            <a href="index.html"><i class="fa-solid fa-arrow-left"></i>
                </i></a>
        </button>

        <button class="btn_fb">
            <a href="index.html"><i class="fa-brands fa-facebook-f"></i>
                </i></a>
        </button>


        <button class="btn_ig">
            <a href="index.html"><i class="fa-brands fa-instagram"></i>
                </i></a>
        </button>

        <button class="btn_twit">
            <a href="index.html"><i class="fa-brands fa-twitter"></i>
                </i></a>
        </button>

        <button class="btn_youtube">
            <a href="index.html"><i class="fa-brands fa-youtube"></i>
                </i></a>
        </button>

        <button class="btn_p">
            <a href="index.html"><i class="fa-brands fa-pinterest-p"></i>
                </i></a>
        </button>

        <button class="btn_tik">
            <a href="index.html"><i class="fa-brands fa-tiktok"></i>
                </i></a>
        </button>


        <button class="btn">
            <a href="index.html"><i class="fa-regular fa-magnifying-glass"></i>
                </i></a>
        </button>

        <button class="btn">
            <a href="index.html"><i class="fa-regular fa-map"></i>
                </i></a>
        </button>

        <button class="btn_plus">
            <a href="index.html"><i class="fa-solid fa-plus"></i>
                </i></a>
        </button>

        <button class="btn_x">
            <a href="index.html"><i class="fa-solid fa-xmark"></i>
                </i></a>
        </button>

        <div class="photo">
            <img src="../components/avoriaz_screenshots/avoriaz__icon-social-blueoutline.png" alt="avariaz icons">
        </div>

        <!--HEADER-->

        <div>
            <h1 class="h1">Avoriaz Ski Resort Buttons</h1>
            <h2 class="subtitle">Header</h2>
            <div class="header-imgs">
                <img class="header-white" src="../components/avoriaz_screenshots/avoriaz__header_white.png"
                    alt="header">
                <img class="header-photo" src="../components/avoriaz_screenshots/avoriaz__header.png"
                    alt="header over photo">
            </div>
        </div>

        <header class="header">
            <div class="header_container">
                <img class="logo-lockup" src="../images/avoriaz_logo_remake_sm.svg" alt="avoriaz logo">
                <nav class="navbar_container">
                    <ul class="navbar-list-a">
                        <li><a href="#!">Discover</a></li>
                        <li><a href="#!">Staying</a></li>
                        <li><a href="#!">Winter Activities</a></li>
                        <li><a href="#!">Summer Activities</a></li>
                        <li><a href="#!">Agenda</a></li>
                        <li><a class="nav-extra" href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="nav-extra" href="#!">EN</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <article class="header-b__container">
            <div>
                <img class="header_img" src="../images/feature_hotels.jpg">
            </div>
            <header class="header_hero">
                <div class="header_hero-container">
                    <nav class="navbar_hero-container">
                        <img class="logo-lockup" src="../images/avoriaz_logo_remake_sm-wt.svg" alt="white avoriaz logo">
                        <ul class="navbar_hero-list-b">
                            <li><a class="nav-links" href="#!">Discover</a></li>
                            <li><a class="nav-links" href="#!">Staying</a></li>
                            <li><a class="nav-links" href="#!">Winter Activities</a></li>
                            <li><a class="nav-links" href="#!">Summer Activities</a></li>
                            <li><a class="nav-links" href="#!">Agenda</a></li>
                            <li><a class="navhero-extra" href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a class="navhero-extra" href="#!">EN</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

        </article>

        <!--FEATURE SECTIONS-->

        <section>
            <img class="headline__feature-img" src="../components/avoriaz_screenshots/avoriaz_feature2.jpg"
                alt="pedestrian resort">
            <div>
                <img class="headline__feature-img1" src="../images/feature_pedestrianresort.jpg" alt="hotel with snow">

                <img class="headline__feature-img2" src="../images/feature_pedestrianresort2.jpg" alt="mountain resort">
                <h1 class="headline__feature-text-orange">PEDESTRIAN-</h1>
                <h1 class="headline__feature-text-black">RESORT</h1>

                <p class="headline__feature-text">
                    In Avoriaz 1800, the magic begins as soon<br>
                    as you arrive, because here, the streets are<br>
                    unlike any other. They transform into real<br>
                    ski slopes where a unique atmosphere<br>
                    reigns. Experienced skiers and beginners<br>
                    share the space with majestic horse-drawn
                </p>

                <button class="headline__feature-button-orange">DISCOVER</button>
            </div>
        </section>


        <!--FOOTER-->

</body>

<footer>
</footer>

</html>