<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <img class="contact__srcimg" src="./avoriaz_screenshots/avoriaz__feature-contact.jpg">

    <img class="contact__backimg" src="../images/avoriaz__feature-contact-backimg.jpg" alt="hazy mountain scene">
    <img class="contact__elk-icon" src="../icons/icon_elk.svg" alt="elk icon">

    <h3 class="contact__title-media">MEDIA & TOUR OPERATORS</h3>
    <button class="outline-contact">CONTACT PRESS & TO</button>
    <button class="outline-press-pack">PRESS PACK</button>

    <h3 class="contact__title-info">INFO</h3>
    <button class="outline-brochures">BROCHURES</button>
    <button class="outline-faq">FAQ</button>
    <button class="outline-partners">PARTNERS</button>
    <button class="outline-seminars">SEMINARS IN AVORIAZ</button>

    <h3 class="phone">+33 4 50 74 02 11</h3>
    <h3 class="email">info@avoriaz.com</h3>
    <button class="btn_contact-fb">
        <a href="!#"><i class="fa-brands fa-facebook-f"></i></a>
    </button>


    <button class="btn_contact-ig">
        <a href="!#"><i class="fa-brands fa-instagram"></i></a>
    </button>

    <button class="btn_contact-twit">
        <a href="!#"><i class="fa-brands fa-twitter"></i></a>
    </button>

    <button class="btn_contact-youtube">
        <a href="!#"><i class="fa-brands fa-youtube"></i></a>
    </button>

    <button class="btn_contact-p">
        <a href="!#"><i class="fa-brands fa-pinterest-p"></i></a>
    </button>

    <button class="btn_contact-tik">
        <a href="!#"><i class="fa-brands fa-tiktok"></i></a>
    </button>

    <h3 class="contact__title-news">NEWSLETTER</h3>
    <button class="outline-register">REGISTER</button>



</body>
<footer>

</footer>

</html>