<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <img class="deal__srcimg" src="../components/avoriaz_screenshots/avariaz_deals.jpg">

    <img class="deal__backimg" src="../images/deal_backimg.jpg" alt="peaceful image of avoriaz">
    <h2 class="deal__h2">GREAT DEALS</h2>
    <h2 class="deal__h2-orange">PEACE OF MIND</h2>
    <h1 class="deal__h1">WHEN BOOKING</h1>



    <a href="!#"><img class="deal__btn_arrow-l" src="../images/deal_arrow-icons.svg"></a>

    <div class="deal__btn_hand">
        <a href="!#"><img src="../icons/icon_hand.svg" alt="logo"> </a>
    </div>

    <button class="deal__btn-orange">ALL OUR GOOD PLANS</button>

</body>
<footer>

</footer>

</html>