<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <img class="event__srcimg" src="../components/avoriaz_screenshots/avoriaz__feature-event-calendar.png">

    <img class="event_backimg" src="../images/feature_newyears.jpg" alt="new years celebration events calendar">
    <h3 class="events__subhead">OUR EVENTS</h3>
    <h1 class="events__headline">NEW YEARS IN <br> AVORIAZ</h1>

    <div class="events__ev1-container">
        <h3 class="event__lgdatel-1">13.</h3>
        <h3 class="event__lgdater">12</h3>
        <h4 class="event__smdate1">15.12</h4>
        <p class="event__title1">ROCK ON SNOW</p>
        <p class="event__copy1">This event marks the kickoff of the winter<br>season in Avoriaz. The Rock On Snow is
            the<br> perfect
            opportunity to test the latest...</p>
    </div>

    <div class="events__ev2-container">
        <h3 class="event__lgdatel-2">24.</h3>
        <h3 class="event__lgdater2">12</h3>
        <h4 class="event__smdate2">24.12</h4>
        <p class="event__title2">CHRISTMAS IN AVORIAZ</p>
        <p class="event__copy2">The village of Avoriiaz is adorned with a<br> thousand lights. A magical atmosphere<br>
            will surround you for
            Christmas...</p>
    </div>

    <div class="events__ev3-container">
        <h3 class="event__lgdatel-3">31.</h3>
        <h3 class="event__lgdater3">12</h3>
        <h4 class="event__smdate3">01.01</h4>
        <p class="event__title3">NEW YEARS IN AVORIAZ</p>
        <p class="event__copy3">To celebrate the passage to a new year<br> with dignity. Celebrate the New Year in <br>
            Avoriaz! This year,
            the resort offers you 3...</p>
    </div>

    <button class="event__orangebtn">
        <a href="!#">ALL OUR EVENTS</a></button>
</body>
<footer>

</footer>

</html>