<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <img class="hand__srcimg" src="../components/avoriaz_screenshots/avoriaz__cookie-popup.jpg" alt="cookie dialog box">

    <p class="cookie_bubble">Continue without consent</p>
    <div class="cookie__container">
        <p class="cookie__sub">Hi there!</p>
        <h3 class="cookie__h3">We're the cookies</h3>
        <img class="cookie__elk-icon" src="../icons/icon_elk.svg" alt="elk icon">
        <p class="cookie__pcopy1">We waited to make sure that you were<br>interested in the content of this<br>website
            before bothering you,
            but we would love to be your<br>companions during your visit...</p>

        <div class="cookie__sub2-container">
            <p class="cookie__sub2">Here's why we use cookies.</p>
            <p class="cookie__pcopy2">- Share analytics, advertising data, user data, and ad<br> personalization data
                with Google<br>
                - Analytics & Stats</p>
        </div>
    </div>

    <p class="cookie__pcopy">Consents certified by axeptio</p>

    <p class="cookie_boldp">I want to choose</p>
    <p class="cookie__btn-navy">OK!</p>
    <img class="cookie__btn-close" src="../icons/hand_close-icon.svg" alt="close icon">


</body>
<footer>

</footer>

</html>