<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <title>Avoriaz Ski Resort Web Development Case Study</title>
</head>

<body>
    <!--HEADLINES FOR THE SECTIONS-->


    <section>
        <img class="headline__feature-img" src="../components/avoriaz_screenshots/avoriaz_openingdate1.jpg" alt="text">
        <h3 class="opening-orange">Resort opening period</h3>
        <h3 class="date-black">From 13th December 2024 to<br>
            21th April 2025
        </h3>
        <h3 class="opening-orange">
            The only 100% pedestrian resort where the streets are snow-covered, and all residences have ski-in/ski-out
            access.
        </h3>
    </section>

    <section>
        <img class="headline__feature-img" src="../components/avoriaz_screenshots/avoriaz_feature2.jpg"
            alt="pedestrian resort">

        <h1 class="headline__feature-text-orange">PEDESTRIAN-</h1>
        <h1 class="headline__feature-text-black">RESORT</h1>

        <p class="headline__feature-text">
            In Avoriaz 1800, the magic begins as soon<br>
            as you arrive, because here, the streets are<br>
            unlike any other. They transform into real<br>
            ski slopes where a unique atmosphere<br>
            reigns. Experienced skiers and beginners<br>
            share the space with majestic horse-drawn
        </p>

        <button class="headline__feature-button-orange">DISCOVER</button>

    </section>






</body>

<footer>
</footer>

</html>