<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <div>
        <h1 class="h1">Avoriaz Ski Resort Buttons</h1>
        <h2 class="subtitle">Header</h2>
        <div class="header-imgs">
            <img class="header-white" src="../components/avoriaz_screenshots/avoriaz__header_white.png" alt="header">
            <img class="header-photo" src="../components/avoriaz_screenshots/avoriaz__header.png"
                alt="header over photo">
        </div>
    </div>

    <header class="header">
        <div class="header_container">
            <img class="logo-lockup" src="../images/avoriaz_logo_remake_sm.svg" alt="avoriaz logo">
            <nav class="navbar_container">
                <ul class="navbar-list-a">
                    <li><a href="#!">Discover</a></li>
                    <li><a href="#!">Staying</a></li>
                    <li><a href="#!">Winter Activities</a></li>
                    <li><a href="#!">Summer Activities</a></li>
                    <li><a href="#!">Agenda</a></li>
                    <li><a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>

<footer>
</footer>

</html>