<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>


    <div>
        <h1 class="h1">AVORIAZ SKI RESORT ICON BUTTONS</h1>
        <h2 class="subtitle">Icon Buttons</h2>
        <div>
            <div class="btn_elk">
                <a href="!#"><img src="../icons/icon_elk.svg" alt="logo"> </a>
            </div>

            <div class="btn_elk">
                <a href="!#"><img src="../icons/icon_hand.svg" alt="logo"> </a>
            </div>

            <button class="btn_close">
                <a href="!#"><i class="fa-solid fa-xmark"></i></a>
            </button>

            <button class="btn_bright">
                <a href="!#"><i class="fa-regular fa-brightness"></i></a>
            </button>

            <button class="btn_gondola">
                <a href="!#"><i class="fa-regular fa-cable-car"></i>
                </a>
            </button>

            <button class="btn_cam">
                <a href="!#"><i class="fa-regular fa-camera-web"></i></a>
            </button>

            <button class="btn_location">
                <a href="!#"><i class="fa-regular fa-location-dot"></i></a>
            </button>

            <button class="btn_ski-lift">
                <a href="!#"><i class="fa-regular fa-person-ski-lift"></i></a>
            </button>

            <button class="btn_skiing">
                <a href="!#"><i class="fa-regular fa-person-skiing"></i></a>
            </button>

            <button class="btn">
                <a href="!#"><i class="fa-regular fa-person-skiing-nordic"></i></a>
            </button>

            <button class="btn_thumb">
                <a href="!#"><i class="fa-regular fa-thumbs-up"></i></a>
            </button>

            <button class="btn">
                <a href="!#"><i class="fa-regular fa-mountain-sun"></i></a>
            </button>

            <button class="btn_flag">
                <a href="!#"><i class="fa-regular fa-flag"></i></a>
            </button>

            <button class="btn_arrow">
                <a href="!#"><i class="fa-solid fa-arrow-right"></i>
                </a>
            </button>

            <button class="btn_arrow">
                <a href="!#"><i class="fa-solid fa-arrow-left"></i></a>
            </button>

            <button class="btn_fb">
                <a href="!#"><i class="fa-brands fa-facebook-f"></i></a>
            </button>


            <button class="btn_ig">
                <a href="!#"><i class="fa-brands fa-instagram"></i></a>
            </button>

            <button class="btn_twit">
                <a href="!#"><i class="fa-brands fa-twitter"></i></a>
            </button>

            <button class="btn_youtube">
                <a href="!#"><i class="fa-brands fa-youtube"></i></a>
            </button>

            <button class="btn_p">
                <a href="!#"><i class="fa-brands fa-pinterest-p"></i></a>
            </button>

            <button class="btn_tik">
                <a href="!#"><i class="fa-brands fa-tiktok"></i></a>
            </button>


            <button class="btn">
                <a href="!#"><i class="fa-regular fa-magnifying-glass"></i></a>
            </button>

            <button class="btn">
                <a href="!#"><i class="fa-regular fa-map"></i></a>
            </button>

            <button class="btn_plus">
                <a href="!#"><i class="fa-solid fa-plus"></i></a>
            </button>

            <button class="btn_x">
                <a href="!#"><i class="fa-solid fa-xmark"></i></a>
            </button>

            <button class="btn_x">
                <a href="!#"><i class="fa-light fa-credit-card"></i></a>
            </button>

            <div class="photo">
                <img src="./images/avariaz_icons_fromsite.jpg" alt="avariaz icons">
            </div>
        </div>
    </div>
</body>

</html>