<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba33af17d4.js" crossorigin="anonymous"></script>
    <title>Components of Web Development Case Study</title>
</head>

<body>
    <section>
        <img class="headline__feature-img3" src="../components/avoriaz_screenshots/avoriaz_feature3.jpg"
            alt="Mountain scene">

        <div>
            <img class="feature3__backgroundimage" src="../images/mountainall_backgroundimage.jpg" alt="clouds">

            <h1 class="feature3__headline">MOUNTAIN</h1>
            <h2 class="feature3__subline">FOR ALL</h2>
            <div>
                <h3 class="feature3__activities">OUR ACTIVITIES</h3>
                <h3 class="feature3__line">____________</h3>
                <button class="feature3__btn_arrow">
                    <a href="index.html"><i class="fa-solid fa-arrow-right"></i></a>
                </button>
            </div>

            <img class="feature3__mountainimg" src="../images/feature_mountainall3.jpg" alt="skier">
            <section class="icon-container">
                <div class="flag-container">
                    <i class="fa-regular fa-flag"></i>
                    <h3 class="icon__number">2</h3>
                    <h3 class="icon__text">Countries</h3>
                </div>

                <div>
                    <i class="fa-regular fa-person-skiing"></i>
                    <h3 class="icon__number">12</h3>
                    <h3 class="icon__text">Resorts</h3>
                </div>

                <div>
                    <i class="fa-regular fa-person-ski-lift"></i>
                    <h3 class="icon__number">1</h3>
                    <h3 class="icon__text">Skipass</h3>
                </div>

                <div>
                    <i class="fa-regular fa-person-skiing"></i>
                    <h3 class="icon__number">800</h3>
                    <h3 class="icon__text">Km of slopes</h3>
                </div>

                <button class="feature3__orange-do">DISCOVER</button>


            </section>

        </div>

    </section>


</body>


<footer>
</footer>

</html>